<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

<header class="container vh-100 d-flex justify-content-center align-items-center">
   <div class="d-flex flex-column justify-content-center align-items-center">
       <img src="/img/imagen.jpg" alt="" class="w-25">
       <h2 class="display-1 my-5 text-uppercase fw-bold align-items-center ">I'm Camacho</h2>
       <a href="/about" class="btn btn-primary w-25">About</a>
   </div>
</header>


    <%- include('partials/footer') %>

</body>
</html>