<footer>
   <h1>
    Lorem, ipsum dolor.
   </h1>
   <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil dolore deleniti est eos nisi voluptatem iste blanditiis quidem, repellat rerum eligendi. Dignissimos inventore tempora quasi aliquid quis vel laudantium quidem quisquam doloremque numquam, cumque eaque libero nisi alias odit harum eligendi error doloribus pariatur amet repudiandae. Aut nobis distinctio vero qui necessitatibus hic, ipsa quisquam eum. Maxime tempora ratione adipisci, quas nobis, libero velit ipsam totam animi, ut eos voluptatibus! Amet, sint vitae maxime, aliquid ducimus consequatur deserunt eos repellat quam velit dicta animi ipsa quisquam numquam doloremque. Perspiciatis voluptas vero nostrum quis iure doloribus sit similique nihil iste! Pariatur?
   </p>
   

</footer>